GROQ_API_KEY=your_groq_api_key_here

JENKINS_URL=http://localhost:8080
JENKINS_USER=your_jenkins_username
JENKINS_TOKEN=your_jenkins_api_token

EMAIL_SENDER=yourgmail@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
EMAIL_RECEIVER=youremail@gmail.com